<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <a href="#" class="navbar-brand">
      Companies
    </a>
    <div class="form-inline my-2 my-lg-0">
      <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" #searchInput>
    </div>
  </nav>
  <app-list [searchTerm]="searchInput.value"></app-list>
</div>
