<div class="card" style="width: 100%; margin-top: 10px">
  <div class="card-header"></div>
  <button class="btn btn-success btn-sm" (click)="upvote(company.id)" style="width: 30px">+</button>
  <button class="btn btn-success btn-sm" (click)="downvote(company.id)" style="width: 30px">-</button>
 &nbsp; &nbsp; <b>Points:</b> {{company.voteCount}}
  <div class="card-body">
    <div class="text-right badge badge-secondary">
      {{company.activityArea}}
    </div>
    <h5 class="card-title">{{company.name}}</h5>
    <p class="card-text">{{company.description}}</p>
    <a href="{{company.url}}" class="card-link">Go to company...</a>
  </div>
</div>
